<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Search Settings</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Distance around you</string>
			<key>Titles</key>
			<array>
				<string>0.5</string>
				<string>0.75</string>
				<string>1</string>
				<string>5</string>
				<string>10</string>
				<string>150 (only for development)</string>
			</array>
			<key>Key</key>
			<string>distance_around_you</string>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Values</key>
			<array>
				<real>0.5</real>
				<real>0.75</real>
				<integer>1</integer>
				<integer>5</integer>
				<integer>10</integer>
				<string>150</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Distance measured in</string>
			<key>Titles</key>
			<array>
				<string>Km</string>
				<string>Miles</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>Key</key>
			<string>distance_measured_in</string>
			<key>DefaultValue</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Development !!!!</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Server type</string>
			<key>Titles</key>
			<array>
				<string>Development</string>
				<string>Production</string>
			</array>
			<key>Key</key>
			<string>server_preference</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
